/* src/App.css */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding-top: 5rem; /* Add padding to prevent content from hiding behind the fixed navbar */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Navbar styles */
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

/* Grid styles */
/* .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .grid-row {
    display: flex;
  }
  
  .grid-item {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
  } */

/* src/components/Grid.css */
.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* background-color: #111; */
}

.grid-svg {
  /* padding: 100px; */
  /* margin: 100px; */
  /* border: 1px solid #ddd; */
  /* background-color: white; */
}

/* components/ScheduleFlight.css */
/* .ScheduleFlightContainer {
  margin: auto;
  width: 50%;
}

.ScheduleFlightForm {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.ScheduleFlightForm h2 {
  margin-bottom: 20px;
}

.ScheduleFlightForm label {
  display: block;
  margin-bottom: 10px;
}

.ScheduleFlightForm select,
.ScheduleFlightForm input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.ScheduleFlightForm button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.ScheduleFlightForm button:hover {
  background-color: #0056b3;
} */

/* Control Panel Css */
.control-panel {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group {
  margin-bottom: 10px;
}

.input-label {
  margin-right: 10px;
}

.input-field {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.start-button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.stop-button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
